<div *ngIf="products">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let product of products">
      <tr>
        <th scope="row">{{product.id}}</th>
        <th> <a  [routerLink]="['/products',product.id]" routerLinkActive="active">{{product.name}}</a> </th>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>



