<div class="row">
  <div class="col-sm-2">
    <p>Id: </p>
    <p>Name: </p>
    <p>Entry Date:</p>
    <p>Price:</p>
  </div>
  <div class="col-sm-4">
    <p>{{product.id}}</p>
    <p>{{product.name}}</p>
    <p>{{product.entryDate | date }}</p>
    <p>{{getProductCurrency()}}</p>
  </div>
</div>

